.BasindaBiz{
    display: flex;
    flex-direction: row;
    width: 100%;
    &-videoDetail{
      margin-right: auto;
      width: 100%;
      &-content{
        display: flex;
        flex-flow: column;
      }
      &-title{
        font-family: Poppins;
        font-weight: 600;
        line-height: 1.5;
        text-align: left;
        color: #ffffff;
      }
      &-detail{
        font-family: Poppins;
        font-size: 25px;
        font-weight: 500;
        line-height: 1.52;
        text-align: left;
        color: #ffffff;
      }
      &-link{
        color: #ffffff;
      }
  }
    &-titles{
       font-family: Poppins;
       line-height: 1.5;
       font-size: large;
       color: #ffffff;

       &-tabs{
         height: 600px;
         width: 450px;
         overflow-y: auto;
       }
    }
  }