.Haber{
    display: flex;
    padding: 10px;
    cursor: pointer;
    &-img{
        width: 120px;
        height: 120px;
        border-radius: 23px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
    }
    &-title{
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.1px;
        text-align: left;
        color: #ffffff;
        margin-left: 10px;
    }
    &-detail{
        width: 294px;
        height: 88px;
        opacity: 0.7;
        font-family: Poppins;
        font-size: 20px;
        line-height: 1.5;
        text-align: left;
        color: #ffffff;
        margin-left: 10px;
        word-wrap: break-word;
        padding: 5px;
    }
}