.App {
  color: red($color: #000000);
}

html {
  font-size: 1.11vw;
}
//Yenilikci Destek
.YenilikciDestek{
  margin-top: 50px;
  margin-bottom: 50px;
}
.Aciklama{
  font-size: initial;
}

//Destek Ol Section
.Destekol {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-title {
    position: relative;
    &:before {
      content: '';
      background-color: red;
      width: 0.85rem;
      height: 0.85rem;
      border-radius: 18px;
      position: absolute;
      right: -18px;
    }
  }
  &-cards {
    display: flex;
    padding-top: 12rem;
    margin-right: 123px;
    margin-left: 123px;
    &-card {
      text-align: center;
      border: 0.23rem solid rgba(255, 0, 59, 0.33);
      border-radius: 1.9rem;
      box-shadow: 0px 3px 6px #00000029;
      padding: 1.32rem 1rem 1rem;
      font-size: 1.13rem;
      height: 28rem;
      &.hover {
        background-color: #ff003b;
        position: relative;
        top: -5.25rem;
      }
      & + & {
        margin-left: 2.7rem;
      }
      &-img {
        width: 5.2rem;
      }
      &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        height: 19rem;
        position: relative;
        &-title {
          letter-spacing: 0px;
          font-weight: bold;
          color: #060606;
          font-size: 1.0rem;
          &.hover {
            color: #fff;
          }
        }
        &-text {
          color: #515151;
          font-size: 15px;
          margin-top: 5px;
          margin-bottom: 1.97rem;
          width: 12rem;
          &.hover {
            color: #fff;
          }
        }
        &-button {
          box-shadow: 0px 3px 6px #00000029;
          border-radius: 38px;
          padding-top: 1rem;
          padding-bottom: 1rem;
          color: #95989a;
          font-size: inherit;
          width: 10rem;
          bottom: 0;
          &:hover {
            cursor: pointer;
          }
          &.hover {
            background-color: #fff;
            color: #ff003b;
          }
        }
      }
    }
  }
}
.Sistem {
  padding-top: 8.12rem;
  display: flex;
  flex-direction: column;
  &-title {
    font-size: 1.75rem;
    text-align: center;
    position: relative;
  }
  &-content {
    position: relative;
    display: flex;
   // justify-content: space-between;
    flex-wrap: wrap;
   // margin-left: 3.74rem;
   // margin-right: 2.72rem;
    padding-bottom: 9.4rem;
    &-firstSection {
      display: flex;
      &-left {
        &-img {
          width: 7rem;
        }
      }
      &-right {
        margin-left: 1.17rem;
        width: 250px;
        position: relative;
        top: 2rem;
        &-title {
          font-size: 1rem;
          width: 213px;
          //line-height: 1.97rem;
        }
        &-text {
          font-size: 0.7rem;
         // line-height: 1.26rem;
          color: #a0a0a0;
          width: 240px;
        }
      }
    }
    &-secondSection {
      display: flex;
      flex-direction: column;
      position: relative;
      top: 3.4rem;
      &-left {
        &-img {
          width: 12rem;
        }
      }
      &-right {
        margin-top: 1.3rem;
        width: 12.7rem;
        &-title {
          font-size: 1rem;
         // width: 213px;
         // line-height: 1.97rem;
        }
        &-text {
          font-size: 0.7rem;
         // line-height: 1.26rem;
          color: #a0a0a0;
        }
      }
    }
    &-thirdSection {
      position: relative;
      top: 1rem;
      left: 2rem;
      display: flex;
      flex-direction: column;
      &-left {
        &-img {
          width: 10.6rem;
        }
      }
      &-right {
        margin-top: 0.5rem;
        width: 265px;

        &-title {
          font-size: 1rem;
         // line-height: 1.97rem;
        }
        &-text {
          font-size: 0.7rem;
         // line-height: 1.26rem;
          color: #a0a0a0;
        }
      }
    }
    &-background {
      position: absolute;
      top: 10.5rem;
      left: 3.6rem;
      &-img {
        width: 40rem;
      }
    }
    &-fourthSection {
      position: relative;
      display: flex;
      flex-direction: column;
     // left: 7.5rem;
      top: 1.34rem;
      &-left {
        &-img {
          width: 12.8em;
        }
      }
      &-right {
        margin-top: 1.3rem;

        &-title {
          font-size: 1rem;
         // line-height: 1.97rem;
          width: 298px;
        }
        &-text {
          font-size: 0.7rem;
         // line-height: 1.26rem;
          color: #a0a0a0;
          width: 421px;
        }
      }
    }
    &-fifthSection {
      position: relative;
      display: flex;
      flex-direction: column;
      left: 12rem;
      top: 6rem;
      &-left {
        &-img {
          width: 12.8rem;
        }
      }
      &-right {
        margin-top: 2.3rem;
        width: 368px;

        &-title {
          font-size: 1rem;
          //line-height: 1.97rem;
        }
        &-text {
          font-size: 0.7rem;
          //line-height: 1.26rem;
          color: #a0a0a0;
        }
      }
    }
  }
}

.Counter{
  &-title {
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000000;
    width: 50%;
    margin: auto;
  }
  &-row{
    text-align: center;
    margin-top: 2rem;

    &-first-counter{
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background-color: #ffc90a;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-weight: bold;
    color: #ffffff;
    font-size: larger;

    &-text{
        display: flex;
        flex-direction: column;
        z-index: 10;
        top: 140px;
      }

      &-img{
        width: 15rem;
      }
    }

    &-second-counter{
      width: 300px;
    height: 200px;
    border-radius: 20px;
      background-color: #ff003b;
      display: flex;
    flex-flow: column;
    justify-content: center;
    font-weight: bold;
    color: #ffffff;
    font-size: larger;

      &-text{
        display: flex;
        flex-direction: column;
        z-index: 10;
        top: 140px;
      }

      &-img{
        width: 15rem;
      }
    }
    &-third-counter{
      width: 300px;
      height: 200px;
       border-radius: 20px;
      background-color: #0974ff;
      display: flex;
      flex-flow: column;
      justify-content: center;
      font-weight: bold;
      color: #ffffff;
      font-size: larger;
      &-text{
        display: flex;
        flex-direction: column;
        z-index: 10;
        top: 140px;
      }

      &-img{
        width: 15rem;
      }
    }
  }
  
}
