.App {
  color: red($color: #000000);
}

html {
  font-size: 1.11vw;
}

//Destek Ol Section
.Destekol {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-title {
    position: relative;
    &:before {
      content: '';
      background-color: red;
      width: 0.85rem;
      height: 0.85rem;
      border-radius: 18px;
      position: absolute;
      right: -18px;
    }
  }
  &-cards {
    display: flex;
    padding-top: 12rem;
    margin-right: 123px;
    margin-left: 123px;
    &-card {
      text-align: center;
      border: 0.23rem solid rgba(255, 0, 59, 0.33);
      border-radius: 1.9rem;
      box-shadow: 0px 3px 6px #00000029;
      padding: 1.32rem 1rem 1rem;
      font-size: 1.13rem;
      height: 28rem;
      &.hover {
        background-color: #ff003b;
        position: relative;
        top: -5.25rem;
      }
      & + & {
        margin-left: 2.7rem;
      }
      &-img {
        width: 5.2rem;
      }
      &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        height: 19rem;
        position: relative;
        &-title {
          letter-spacing: 0px;
          font-weight: bold;
          color: #060606;
          font-size: 1.0rem;
          &.hover {
            color: #fff;
          }
        }
        &-text {
          color: #515151;
          font-size: 15px;
          margin-top: 5px;
          margin-bottom: 1.97rem;
          width: 12rem;
          &.hover {
            color: #fff;
          }
        }
        &-button {
          box-shadow: 0px 3px 6px #00000029;
          border-radius: 38px;
          padding-top: 1rem;
          padding-bottom: 1rem;
          color: #95989a;
          font-size: inherit;
          width: 10rem;
          bottom: 0;
          &:hover {
            cursor: pointer;
          }
          &.hover {
            background-color: #fff;
            color: #ff003b;
          }
        }
      }
    }
  }
}


