@import '../scss/global/normalize.scss';
@import '../scss/global/formalize.scss';
@import '../scss/config/mixin.scss';

.HammaddeDestekForm {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 200px;
  @include mq {
    padding-top: 90px;
    box-shadow: 0 3px 15px 0 rgba(26, 24, 24, 0.16);
    background-color: #fff;
    border-radius: 24px;
    margin-right: 120px;
    margin-left: 120px;
    margin-top: 210px;
  }
  &-form {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 16px;
    @include mq {
      padding-right: 40px;
      padding-left: 40px;
    }
    & > div {
      @include mq {
        margin-top: 50px;
      }
    }
    &-row {
      display: flex;
      width: 100%;
      flex-direction: column;
      @include mq {
        flex-direction: row;
      }
      &-emailDiv {
        margin-right: auto;
        width: 400px;
        &-input {
          border-radius: 10px;
          border: 1px solid;
          padding: 10px;
          font-size: large;
          width: 100%;
        }
      }
      &-contactNameDiv {
        margin-right: auto;
        width: 400px;
        &-input {
          border-radius: 10px;
          border: 1px solid;
          padding: 10px;
          font-size: large;
          width: 100%;
        }
      }
      &-donaterNameDiv {
        margin-left: auto;
        width: 400px;
        &-input {
          border-radius: 10px;
          border: 1px solid;
          padding: 10px;
          font-size: large;
          width: 100%;
        }
      }
      &-phoneNumberDiv {
        margin-left: auto;
        width: 400px;
        &-input {
          border-radius: 10px;
          border: 1px solid;
          padding: 10px;
          font-size: large;
          width: 100%;
        }
      }
      &-cityDiv {
        margin-left: auto;
        width: 400px;
        &-input {
          border-radius: 10px;
          border: 1px solid;
          padding: 10px;
          font-size: large;
          width: 100%;
        }
      }
      &-formGonderButton {
        margin-bottom: 90px;
        margin-top: 40px;
        @include mq {
          margin-bottom: 230px;
        }
      }
      &-bagislanacakhammaddeseciniz {
        margin-right: auto;
        border: 1px solid;
        border-radius: 10px;
        padding: 10px;
        width: 400px;
        font-size: large;
        &-label {
          margin-right: 30px;
          margin-top: 10px;
        }
        &-input {
          margin-top: 10px;
        }
        &-other {
          border-radius: 10px;
          border: 1px solid;
          padding: 10px;
          font-size: large;
          margin-top: 20px;
          margin-right: 5px;
        }
      }
    }
  }
}
